{% extends 'User/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hange Password</title>
    
</head>

<body>
    <div class="container">
        <h1>Change Password</h1>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Old Password</td>
                    <td><input type="password" name="txt_oldpassword" id="em" required></td>
                </tr>
                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="txt_newpassword" id="pa" required></td>
                </tr>
                <tr>
                    <td>Re-type New Password</td>
                    <td><input type="password" name="txt_retypepassword" id="pa" required></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Change Password"></td>
                </tr>
            </table>
        </form>

        {% if msg %}
        <div class="form-message">
            <script>
                alert("{{ msg }}");
                window.location = "{% url 'User:Changepassword' %}";
            </script>
        </div>
        {% endif %}
    </div>
</body>

</html>
{% endblock content %}
